@media all and  (max-width: 400px){
    .lenguajes img{
        width: 100%;
    }
    .contact{
        width: 100%;
    }
}
@media all and  (max-width: 500px){
    .lenguajes img{
        width: 100%;
    }
    .contact{
        width: 100%;
    }
}


@media all and  (max-width: 750px){
.container{
    display: flex;
    margin-top: 200px;
    z-index: 60;
}
.imgCard1{
    height: 1300px!important;
    box-shadow: none;
    width: 90%!important;
    background-color: transparent!important;
}
.encriptador, .ayuda, .turnero{
    margin-top: 30px;
    width: 90%!important;
    border: 2px solid #fff;

}
.card-img1 img,.card-img2  img,.card-img3 img,.card-img4 img,.card-img5 img,.card-img6 img{
    min-height: 140px;
    width: 200px;
    height: 140px;

}
.separador{
    width: 276px;
}
.p3{
    position: absolute;
    left: 20px;
    top: 120px;
    width: 50px;
}
.datos{
    position: absolute;
    width: 200px;
    left: 80px;
}


    .container, .ticket{
        width: 300px;
        height: 600px;
    }
    .border{
        width: 280px;
        height: 580px;
    }
    .menu{
        display: block;
        position: fixed;
        width: 1px;
        right: 55px;
        z-index: 200;
    }
    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      .line {
        fill: none;
        stroke: white;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
    .bienvenido{
        display: flex;
        justify-content: center;
        font-size: 30px;
        width: 200px;
        flex-wrap: wrap;
        width: 30px;
        z-index: 60;
    }
    .bienvenido:hover{
        transition: all 1s!important;
        color: #A07BFF!important;
        transform: scale(1.1,1.3)!important;
    
    }
    .formularios{
        width:100%;
    }
    .welcome{
        display: flex;
        flex-wrap: wrap;
        z-index: 25;
    }

    .misredes{
        padding-top: 40px;
    }

    .miImagen a{
        margin-top: 10px;
    }

    .ingresar{
        position: absolute;
        right: 5px;
        margin-right: 5px;
        padding: 0;
        animation: menu1;
        animation-duration: 1.3s;
    }
    @keyframes lista {
        0%{
            height: 50px;
        }
        100%{
            height: 400px;
        }
    }
    @keyframes menu1 {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
        
    }
.card{
    width: 100%!important;
}
    .container-slide{
        display: flex;
    }
    .container-slide h4{
        top: 3400px;
        left: -500px;
    }
    .lenguajes img, .lenguajes1 img{
        width: 100%;
        height: 300px;
    }
    .imgCard{
        box-shadow: none;
        background: none;
    }
   

}


@media all and  (max-width: 1300px) and (min-width: 750px){
    .imgCard1{
        height: 900px!important;
    }
}
