.imgExperiencias{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.imgExperiencias img{
    object-fit: cover;
    object-position: 10pxs;
    border-radius: 5px;
    width: 180px;
    padding-top: 10px;
    height: 180px;
}
h3{
    color: white;
}
.imgContenedor{
    height: 200px;
}

.encriptador, .ayuda,.turnero ,.otto{
    height: 400px;
    width: 260px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.textoExperiencia{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.textoExperiencia h3, .textoExperiencia p{
    width: 80%;
    margin: 0 auto;
}
.textoExperiencia a{
    margin: 0 auto;
    text-align: center;
    width: 70px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 8px 5px;
    background-color: #A07BFF;
}
.imgCard1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    z-index: 20;
    max-width: 1000px;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 200px;


}