*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    white-space: 20px;
}
@font-face {
    font-family: Antonio;
    src: url(Antonio.ttf);
}

.menu{
    display: none;
}
body{
    background-color: #1D1D1B;
    

    flex-direction: column;
}


header{
    display: flex;
    height: 60px;
    z-index: 99;
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex-wrap: wrap;
    z-index: 600;

}
.imgBack{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 400px;
    z-index: 20;

}
.imgCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: #363634;
    margin: 0 auto;
    height: 600px;
    z-index: 20;
    max-width: 900px;
    border-radius: 20px;
    margin-bottom: 200px;


}

.imgBack img{
    height: 400px;
    position: absolute;
    right: 100px;
    top: 180px;
}
.globo{
    position: absolute;
    top: 500px;
    left: 100px;
    animation: globojs;
    animation-duration: 5s;
}
.globo1{
    position: absolute;
    top: 500px;
    left: 200px;
    animation: globohtml;
    animation-duration: 5.2s;
}
.globo2{
    position: absolute;
    top: 500px;
    left: 300px;
    animation: globocss;
    animation-duration: 5.4s;
}
.globo3{
    position: absolute;
    top: 500px;
    left: 400px;
    animation: globopython;
    animation-duration: 5.8s;
}
@keyframes globojs {
    0%{
        opacity: 0;
    }
    0%{
        position: absolute;
        top: 400px;
    
    }
    100%{
        top:500px;
    }
    
}
@keyframes globocss {
    0%{
        opacity: 0;
        position: absolute;
        top: 380px;
    
    }
    100%{
        top:500px;
    }
    
}
@keyframes globohtml {
    0%{
        opacity: 0;
        position: absolute;
        top: 350px;
    
    }
    100%{
        top:500px;
    }
    
}
@keyframes globopython {
    0%{
        opacity: 0;
        position: absolute;
        top: 430px;
    
    }
    100%{
        top:500px;
    }
    
}

li{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 20px;
   
}

a{
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: #fff;
}
.lista a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
}
.lista li a:hover{
    background-color: grey;
    border-radius: 10px;
    color: white;
    
}
.lista{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.imgglobos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.imgglobos img{
    margin-right: 20px;
}
.welcome{
    display: flex;
    padding-top: 300px;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    justify-content: center;
    margin-bottom: 500px;
    align-items: center;
}
.typewrite{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #A07BFF;
    font-weight: 400;
    white-space: normal

}
.bienvenido{
    color: white;
    font-weight: 500;
    font-size: 70px;
    white-space: nowrap;
    font-family: Manrope;
    animation: bienvenido 1s;
}
.bienvenido:hover{
    transition: all 1s!important;
    color: #A07BFF!important;
    transform: scale(1.5)!important;

}


.span1{
    margin-top: 50px;
}
.span2{
    margin-top: 50px;
}
@keyframes rodrigo{
    0%{
        opacity: 0;
    }
   
    50%{
        opacity: 0;
    }
    
    100%{
        opacity: 100%;
    }

}
.webDev{
    font-size: 40px;
    color: white;

}
.formulario{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.formularios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    height: 600px;
    border-radius: 30px;
    background-color: #363634;
    margin-bottom: 20px;
    max-width: 900px;
}
.formularios h2{
    text-align: center;
    color: rgb(255, 255, 255);
}
.contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contacto a{
    margin-left: 30px;

}
.contactame{
    color: white;
    text-align: center;
    font-size: 60px;
}
.span{
    width: 100%;
    height: 1px;
    color: red;
    background-color: white;
    z-index: 1000;
}
.enviar{
    margin-top: 10px;
    height: 50px;
    width: 200px;
    align-self: center;
    color: white;
    background-image: linear-gradient(rgb(75, 16, 151),rgb(105, 0, 131));
    border: none;
    border-radius: 30px;
}
label{
    color: rgb(0, 0, 0);
    background-color: rgb(173, 255, 47,0.4);

}

.redes{
    width: 30px;
    height: 30px;
}
.ingresar{
    background-image: linear-gradient(rgb(89, 30, 165),rgb(105, 0, 131));
    border-radius: 30px;
    padding: 5px 0;
    margin-right: 10px; 
}

p{
    color: white;
}
.abajo{

    animation: hola;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 200;

}
@keyframes hola{
0%{ 

}
100%{
    color: black;
    background-color: rgb(255, 255, 255 ,0.5);
    opacity: 60%;
}
}
.abajo1{

    animation: hola2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 200;

}
@keyframes hola2{
0%{ 

}
100%{
    color: black;
    background-color: rgb(255, 255, 255 ,0.5);
    opacity: 60%;
}
}




.skills{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 40px 0px;
    border-radius: 20px;
    flex-direction: column;
    margin: 0 auto;

}


.lenguajes1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

  
}
.lenguajes1 img{
    width: 8rem;
    height: 8rem;
    padding: 30px;
    margin-top: 10px;



}
.lenguajes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

  
}
.lenguajes img{
    width: 8rem;
    height: 8rem;
    padding: 30px;
    margin-top: 10px;
 

}
.leng1, .leng2, .leng3,.leng4, .leng5, .leng6{
    margin-right: 30px;
    background-color: #363634;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}
.leng1 .leng4{
    display: flex;
    flex-direction: column;
    background: red;
    justify-content: center;

}
.leng1 p ,.leng4 p{
    color: #fff;


}
.leng2, .leng5{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.leng2 p,.leng5 p{
    color: #fff;


}
.leng3, .leng6{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.leng3 p, .leng6 p{
    color: #fff;


}


.footerm{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 200px;
    background-color: black;

}
.footerm p{
    color: white;
    text-align: center;
    font-size: 12px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket{
  
    margin-top: 20px;
    box-shadow: 0 0 40px rgba(219, 213, 213, 0.7);
    border: 4px solid #A07BFF;;
    background-color: #1D1D1B;
    width: 600px;
    aspect-ratio: 18/9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{

    border: 4px solid #A07BFF;;
    width: 580px;
    height: 280px;
    border-radius: 6px;
}
h1{
    font-size: 20px;
}
bg{
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, .3);
    filter: blur(20px);
    width: 100%;
    height: 100%;

}
.rodrigo{
    position: absolute;
    top: 30px;
    left: 20px;
    margin-left: 10px;
    margin-top: 10px;
    height: 60px!important;
    width: 60px!important;
    margin-right: 15px;
    border-radius: 50%;
}
.datos{
    position: absolute;
    top: 30px;
    left: 25px;
    width: 250px;
    height: 50px;
    margin-top: 20px;
}

.datos p{
    font-family: 'DM Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.p2{
    position: absolute;
    left: 70px;
}
.imagen h1{
    font-family: Manrope;
    color: #fff;
    position: absolute;
    right: 15px;
    bottom: 90px;
    font-size: 40px;
    font-weight: 900;
    z-index: 200;

}
.separador{
    font-family: 'DM Sans', sans-serif;
    font-weight: bolder;
    background-color: #A07BFF;;
    position: absolute;
    bottom: 80px;
    width: 576px;
    height: 20px;
}
.separador p {
    text-align: start;
    margin-left: 30px;
}
.red,.red1,.red2{
    position: absolute;
    width: 30px !important;
    height: 30px!important;
}
.red{
    left: 30px;
    bottom: 30px;
}
.red1{
    bottom: 30px;
    left: 80px;
}
.red2{
    bottom: 30px;
    left: 130px;
}
.javascript{
    width: 200px;
    height: 200px!important;
    opacity: 5%;
    position: absolute;
    right: 0!important;
    top: 20px;
}

.p3{
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    top: 90px;
    left: 98px;
}

.contenedorskil{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 480px;
    justify-content: center;
}
.skil{
    font-family: Tahoma;
    color: white;
    font-size: 60px;
}
.divslide{
    display: flex;
    justify-content: center;
}
.container-slide{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container-slide h4{
    font-family: Tahoma;
    margin-bottom: 60px;
    font-size: 60px;
    text-align: center;
    color: white;

}


/* 
Scroll magic Estilos */

.tcards, .tcards2{
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}
#tcards {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#tcards.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
#tcards2 {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#tcards2.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
#skil {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#skil.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
#about {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#about.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}



#contactame {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#contactame.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}