*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    white-space: 20px;
}
@font-face {
    font-family: Antonio;
    src: url(Antonio.ttf);
}

.menu{
    display: none;
}
body{
    background: rgb(125,0,109);
    background: linear-gradient(90deg, rgba(125,0,109,1) 0%, rgba(2,2,51,1) 49%, rgba(53,0,117,1) 100%);
    flex-direction: column;
}



li{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 20px;
   
}

a{
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: #fff;
}


.welcome{
    display: flex;
    padding-top: 300px;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    justify-content: center;
    margin-bottom: 500px;
    align-items: center;
}
.typewrite{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #A07BFF;
    font-weight: 400;
    white-space: normal

}
.bienvenido{
    color: white;
    font-weight: 500;
    font-size: 70px;
    white-space: nowrap;
    font-family: Manrope;
    animation: bienvenido 1s;
}
.bienvenido:hover{
    transition: all 1s!important;
    color: #A07BFF!important;
    transform: scale(1.5)!important;

}

@keyframes rodrigo{
    0%{
        opacity: 0;
    }
   
    50%{
        opacity: 0;
    }
    
    100%{
        opacity: 100%;
    }

}

.formularios{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 60%;
    height: 400px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    max-width: 900px;
    padding-top: 50px;
}
.formularios h2{
    text-align: center;
    color: rgb(255, 255, 255);
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.contact{
    display: flex;
    width: 500px;
    margin-top:50px ;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 20px;
}
.contact div{
    margin-left: 20px;

}

.contacto>p{
    color: #A07BFF;
    text-decoration: underline;
    text-align: center;
}
.github{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.github p, .linkedin p, .whatsap p{
    color: white;
    text-align: center;
}
.contactame{
    color: white;
    text-align: center;
    font-size: 60px;
}
.contactx{
    width: 100%;
    text-align: center;
}
.span{
    width: 100%;
    height: 1px;
    color: red;
    background-color: white;
    z-index: 1000;
}

label{
    color: rgb(0, 0, 0);
    background-color: rgb(173, 255, 47,0.4);

}

.redes{
    width: 30px;
    height: 30px;
}
p{
    color: white;
}
footer{
    margin-top: 50px;
}
.footerm{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: -3.6px;

}

.rodrigomaciel{
    background: rgba(0, 0, 0, 0.2);
}
.contacto p{
    font-family: Manrope;
}
.footerm p{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket{
  
    margin-top: 20px;
    box-shadow: 0 0 40px rgba(219, 213, 213, 0.7);
    border: 4px solid #A07BFF;;
    background-color: #1D1D1B;
    width: 600px;
    aspect-ratio: 18/9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{

    border: 4px solid #A07BFF;;
    width: 580px;
    height: 280px;
    border-radius: 6px;
}
h1{
    font-size: 20px;
}

p a{
    color: #A07BFF
}
.skil{
    font-family: Tahoma;
    color: white;
    font-size: 60px;
}
.divslide{
    display: flex;
    justify-content: center;
}
.container-slide{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container-slide h4{
    font-family: Tahoma;
    margin-bottom: 60px;
    font-size: 60px;
    text-align: center;
    color: white;

}


/* 
Scroll magic Estilos */

.tcards, .tcards2{
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}
#tcards {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#tcards.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
#tcards2 {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#tcards2.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
#skil {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#skil.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
#about {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#about.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}



#contactame {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#contactame.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

#contactx {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#contactx.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}












nav{
    position: fixed;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    z-index: 3000;
    font-family: Antonio;
    transition: background-color 0.5s ease;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
.misredes{
    display: flex;
    align-items: center;
}
.misredes a{
    margin-right: 10px;
}
nav ul li{
    line-height: 40px;
    margin: 0 10px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 3px;
}
li a {
    display: inline-block;
  position: relative;
}
 li a:hover::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    animation: hola 0.3s forwards;
}
@keyframes hola {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scaleX(1);
    }
}
    

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
i{
    color :white;
}
svg{
    color: white;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 590px;
        background: #000000;
        top: 0;
        top: -100%;
        text-align: center;
        z-index: 2000;
        transition: all .5s;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        margin: 40px 0;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 20px;
        padding: 0;
    }
    .misredes{
        justify-content: center;
    }
    li a:hover{
        background: none;
        color: #A07BFF;
    }
    #check:checked ~ ul{
        top:0px;
    }
   

      .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 10px;
        margin-top: 10px ;
        padding: 0;
      }
      .line {
        fill: none;
        stroke: white;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
}

.encriptador, .ayuda, .turnero , .otto{
    border: 2px solid #fff;
    box-shadow: 4px 2px 14px -1px rgba(255,255,255,0.57);
    -webkit-box-shadow: 4px 2px 14px -1px rgba(255,255,255,0.57);
    -moz-box-shadow: 4px 2px 14px -1px rgba(255,255,255,0.57);
}


.links {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0 a;
    background-color: #A07BFF;
    border-radius: 10px;
}
.links img{
    padding-bottom:2px ;
}

.minigit{
    object-fit: contain!important;
    width: 28px!important;
    height: 28px!important;
}
.gitpad{
    margin-right: 10px!important;
}
.linkss{
    display: flex;
}
.padding{
    margin-right: 10px;
}


.efectohover, .efectonro1, .efectonro2, .efectonro3 {
   
        width: 100%;
        height: 80%;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      
  }
  .encriptador:hover .efectohover{
    opacity: 1;
  }
  .encriptador,.ayuda, .turnero ,.otto {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .djangologo{
    border-radius: 50%!important;
    width: 30px!important;
    height: 30px!important;
    padding: 0!important;
  }

  .phfotos{
    margin-top: 10px;
  }
.efectohover p, .efectonro1 p, .efectonro2 p{
    font-family: 'DM Sans', sans-serif;
}



.navbar-transparent {
    background-color: transparent;
  }
  
  .navbar-black {
    background-color: rgba(0, 0, 0, 0.3);
  }


.en{
    color: white;
}

.es{
    color: white;
}

.language{
    display: flex;
    position: absolute;
    top: 25px;
    left: 10px;
    font-family: 'DM Sans', sans-serif;
}
.check{
    position: relative;
    width: 50px;
    appearance: none;
}

.check:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: rgba(2,2,51,1) ;
    border-radius: 10px;
}


.check:after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #A07BFF;
    border-radius: 25px;
    transition: 0.25s;
    border:2px solid #333;
    box-sizing: border-box;
}


.check:checked:after{
    left: 25px;
    border: 2px solid white;


}

.check:checked:before{
    background-color: rgba(53,0,117,1);
}


.imgCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    /* height: 600px; */
    z-index: 20;
    max-width: 900px;
    border-radius: 20px;
    padding: 70px;
    margin-bottom: 200px;


}


.rodrigo{
    position: relative;
    left: -230px;
    margin-left: 10px;
    margin-top: 10px;
    height: 80px!important;
    width: 80px!important;
    margin-right: 15px;
    border-radius: 50%;
}
.datos{
    position: relative;
    top: -200px;
    left: 50px;
    width: 250px;
    height: 50px;
    margin-top: 20px;
}

.datos p{
    font-family: 'DM Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.p2{
    position: relative;
    left: -25px;
}
.imagen h1{
    font-family: Manrope;
    color: #fff;
    position: relative;
    right: -130px;
    bottom: -50px;
    font-size: 40px;
    font-weight: 900;
    z-index: 200;

}

.separador{
    font-family: 'DM Sans', sans-serif;
    font-weight: bolder;
    background-color: #A07BFF;;
    position: relative;
    bottom: -42px;
    width: 576px;
    height: 20px;
}
.separador p {
    text-align: start;
    margin-left: 30px;
}
.red,.red1,.red2{
    position: relative;
    width: 30px !important;
    height: 30px!important;
}
.red{
    left:-210px;
    bottom: -60px;
}
.red1{
    bottom: -60px;
    left: -190px;
}
.red2{
    bottom: -60px;
    left: -170px;
}
.javascript{
    width: 200px;
    height: 200px!important;
    opacity: 5%;
    position: absolute;
    right: 0!important;
    top: 20px;
}

.p3{
    font-family: 'DM Sans', sans-serif;
    position: relative;
    top: -205px;
    left: -40px;
}



.ppp{
    top : -100%!important;
}

#miVideo, #miVideo2, #miVideo3{
    position: absolute;
    display: none;
}
